*.class
*.classpath
*.project
*.settings
*.DS_Store
*.pyc
*.data
*.data
*.pickle

# Package Files #
*.war
*.ear

# latex stuff
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

proj01/report.pdf
proj01/project_part1.pdf
proj01/f*g
proj01/*.train
proj01/*.test
proj02/proposal.pdf
proj02/report.pdf
proj02/dictionary_processed.xml
